.editorMain {
  background: var(--editor-main-background);
  padding: 1em 1em 1em 1em;
  min-height: calc(100vh - 5em);
}

/* .editorMain section {
  padding: 1em;
} */

.navbar {
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 1000;
  margin: 0 auto;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px);
  background-color: var(--navbar-background-color);
}

.selector {
  padding: 1em;
  border: 1px solid #ddddddc6;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  margin: 40px auto;
}

.cmsLink {
  display: block;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
  /* background-color: #3b4b5afa; */
  background-color: var(--editor-link);
  transition: background-color 0.2s;
}

.cmsLink:hover {
  background-color: #6a5b7a;
}

.selector h1 {
  margin-bottom: 30px;
  margin: 0;
  padding: 0;
  text-align: center;
}

.selector ul {
  list-style-type: none;
  padding: 2em;
}

.selector li {
  margin: 10px 0;
}

.imageGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1em;
}

.imageGrid label {
  display: none;
}

.imageGrid input {
  display: block;
  width: 100%;
  text-align: center;
  margin: 1em auto;
}

.imageGrid button {
  width: 60%;
}

.imageGrid img {
  width: 100%;
  height: auto;
  border-radius: 0.5rem;
  object-fit: cover;
}

.gridItem {
  padding: 1em;
  border: 1px solid #ddd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-around;
}

@media (max-width: 793px) {
  .navbar {
    font-size: small;
  }

  .imageGrid {
    grid-template-columns: 1fr;
    margin: 0 auto;
  }
  .imageGrid input {
    padding-left: 2em;
  }

  .imageGrid img {
    width: 70%;
    height: auto;
    object-fit: cover;
    margin: 0 auto;
  }
}
